extends ../layouts/default

block css
	link(href="/styles/site/home.min.css", rel="stylesheet")
	link(href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css')
	link(href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css')
block content
	.container: .jumbotron.text-center
		img(src="/images/nodeschool.jpg")
		h1 A NodeSchool.io Event in MTL 
		h2 Un événement NodeSchool.io à Montréal.
		.construction-wrapper
			h3 Check back soon for details. 
			h3 Détails à venir.
